modules = ["c-clang14"]
compile = "make"
run = "./D21"
hidden = ["main", "main-debug", "**/*.o", "**/*.d", ".ccls-cache"]

[nix]
channel = "stable-23_11"

[deployment]
build = ["sh", "-c", "make"]
run = ["sh", "-c", "./D21"]

